<nav class="side-nav">
    <div class="content d-flex flex-column align-items-center justify-content-between h-100">
        <div class="logo ">
            <img src="/assets/PMS.svg" alt="logo">
        </div>
        <div class="core-contnet align-items-center d-flex flex-column gap-lg-5 gap-md-3 gap-2">
            <img src="/assets/control-room.svg" alt="control">
            <img src="/assets/dashboard.svg" alt="dashboard">
            <img src="/assets/elements.svg" alt="elements">
            <img src="/assets/notifications.svg" alt="notifications">
            <img src="/assets/settings.svg" alt="settings">
        </div>
        <div class="logout ">
            <img src="/assets/logout.svg" alt="logout">
        </div>
    </div>
</nav>