<div class="d-flex flex-column "
    style="width: 100%; height:300px; background-color: white; border-radius: 20px; padding: 40px;">
    <div class="content-text d-flex justify-content-between align-items-center w-100 mb-3">
        <div class="header">
            <p>STATION ACTIVES OVERVIEW</p>
        </div>
        <ul class="nav-list_ list-unstyled d-flex gap-3">
            <li class="nav-list_active">
                SALES
            </li>
            <li>
                TRANSACTION
            </li>
            <li>
                VALUE
            </li>
            <li>
                COMPRESSION
            </li>
        </ul>
    </div>
    <canvas #barChart></canvas>
</div>