* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #ff7f5c;
  --secondary-color: #f9f5f3;
  --white-color: #fff;
  --dark-gray-color: #3d5161;
  --light-gray-color: #f9f5f3;
  --header-font-size: 40px;
  --title-font-size: 20px;
  --mini-font-size: 16px;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--secondary-color);
  height: 100vh;
}
.main-container {
  margin-left: 50px;
}
/* .container-fluid {
  padding: 0 150px !important;
  padding-right: 40px !important;
}
.container-fluid.main {
  background-color: var(--secondary-color);
  min-height: 100vh;
} */

*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ff7f5c, rgba(255, 112, 67, 0.2));
  border-radius: 10px;
}
*::-webkit-scrollbar-track {
  background: #f9f5f3;
  border-radius: 10px;
}
